
.error-box {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 300px;
    z-index: 1000;
    height: 40vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error-notification {
    background-color: var(--color-error);
    padding: 5px 20px;
    border-radius: 6px;
    transition: opacity 0.3s ease;
}

.error-msg {
    font-size: 14px;
    font-family: 'primary';
    color: var(--color-text);
}

.close-notification {
    color: var(--color-text);
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--color-accent);
    padding: 4px;
    border-radius: 4px;
}

.timer-bar {
    position: absolute;
    width: 280px;
    display: flex;
    justify-content: center;
    height: 4px;
    background-color: rgb(255, 161, 161);
    position: relative;
    left: -10px;
    bottom: 0;
    border-radius: 10px;
    z-index: 10001;
    transform: scaleX(1);
}