:root {
    
    --color-primary: #14B8A6;
    --color-primary-dark: #0F766E;
    --color-primary-light: #AECBFA;

   
    --color-secondary: #14B8A6;
    --color-secondary-dark: #0F766E;
    --color-secondary-light: #5EEAD4;

    --color-accent: #FBBF24;
    --color-success: #22C55E;
    --color-error: #EF4444;
    --color-warning: #F97316;
    --color-info: #38BDF8;

    --color-white: #E5E7EB;
    --color-black: #000000;
    --color-gray-100: #1F2937;
    --color-gray-200: #27303F;
    --color-gray-300: #374151;
    --color-gray-400: #4B5563;
    --color-gray-500: #6B7280;
    --color-gray-600: #9CA3AF;
    --color-gray-700: #D1D5DB;
    --color-gray-800: #E5E7EB;
    --color-gray-900: #F9FAFB;

    --color-bg: #041521;                
    --color-bg-alt: #1E293B;            
    --color-text: #F1F5F9;
    --color-text-muted: #94A3B8;        
    --color-border: #334155;
}

body { background-color: var(--color-bg); }

.cta-btn button {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-border);
    border-radius: 6px;
    padding: 10px 14px;
    transition: background .3s ease;
}

.cta-btn button:hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
}